<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharpinfo.sir.gestionprojet_v2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".action.user.SignUpActivity" />
        <activity android:name=".action.Societe.SocieteCreateActivity">

        </activity>
        <activity
            android:name=".action.Societe.SocieteListActivity"
            android:label="@string/title_activity_societe_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".action.Societe.SocieteMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".action.MainActivity"
            android:label="@string/app_name"></activity>
    </application>

</manifest>