<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharpinfo.sir.gestionprojet_v2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".action.user.SignInActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".action.user.SignUpActivity"
            android:parentActivityName=".action.user.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sharpinfo.sir.gestionprojet_v2.action.user.SignInActivity" />
        </activity>
        <activity android:name=".action.societe.SocieteCreateActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.sharpinfo.sir.gestionprojet_v2.action.societe.SocieteListActivity" />

        <activity
            android:name=".action.societe.SocieteListActivity"
            android:label="Companies list"
            android:parentActivityName=".action.menu.SideMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sharpinfo.sir.gestionprojet_v2.action.menu.SideMenuActivity" />
        </activity>
        <activity android:name=".action.menu.MenuActivity" />
        <activity
            android:name=".action.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".action.menu.SideMenuActivity"
            android:label="Welcome to SHARPROJECTS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".action.TestChartActivity" />
        <activity
            android:name=".action.projet.ProjetListActivity"
            android:label="Projects List"
            android:parentActivityName=".action.menu.SideMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sharpinfo.sir.gestionprojet_v2.action.menu.SideMenuActivity" />
        </activity>
        <activity android:name=".action.projet.ProjetCreateActivity" />
        <activity android:name=".action.depense.DepenseCreateActivity" />
        <activity android:name=".action.tache.TacheCreateActivity" />
        <activity
            android:name=".action.depense.DepenseListActivity"
            android:label="Expenses List"
            android:parentActivityName=".action.menu.SideMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.tache.TacheListActivity"
            android:label="Tasks list"
            android:parentActivityName=".action.menu.SideMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sharpinfo.sir.gestionprojet_v2.action.menu.SideMenuActivity" />
        </activity>
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.menu.EditProfileActivity"
            android:parentActivityName=".action.menu.SideMenuActivity" />
        <activity
            android:name=".action.menu.ChangePasswordActivity"
            android:parentActivityName=".action.menu.SideMenuActivity" />
        <activity
            android:name=".action.menu.AboutActivity"
            android:parentActivityName=".action.menu.SideMenuActivity" />
        <activity android:name=".action.statistics.StatisticsMenuActivity"></activity>
    </application>

</manifest>